# Exploratory Data Analysis - Customer Loans in Finance

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
from load import load_data
from data_transform import DataTransform

## Getting the data and taking a first look

First we get the data.  Data were downloaded from an RDS database using credentials provided by AiCore and saved in a CSV format.
We use the imported function to load the data into a Pandas dataframe.  Then we print its shape followed by information about the data.

In [2]:
df = load_data('initial_data.csv')
print(f"The shape of the dataframe is {df.shape}")
#df.info()

The shape of the dataframe is (54231, 43)

We see that the data consists of 54321 observations (rows) of a set of 43 variables (columns).  We investigate further by printing further information about the dataframe.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  int64
 1   member_id                    54231 non-null  int64
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  object
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  object
 9   sub_grade                    54231 non-null  object
 10  employment_length            52113 non-null  object
 11  home_ownership               54231 non-null  object
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  object
 14  issue_date                   54231 non-null  object
 15  loan_status                  54231 non-null  object
 16  payment_plan                 54231 non-null  object
 17  purpose                      54231 non-null  object
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  object
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  float64
 23  mths_since_last_record       6181 non-null   float64
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  object
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  object
 38  last_credit_pull_date        54224 non-null  object
 39  collections_12_mths_ex_med   54180 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  int64
 42  application_type             54231 non-null  object
dtypes: float64(20), int64(8), object(15)
memory usage: 17.8+ MB

Initial observations are that:
- the variables follow a mix of datatypes including 15 objects (strings), 20 floats and 8 integers, making 28 numerical variables
- many variables have a full complement of 54231 observations.  However some variables have missing data and sometimes the gaps are extensive.

## The exploratory analysis - understanding and manipulating the data
Our exploratory analysis will cover five basic stages, undertaken broadly sequentially.  They are
1. Reviewing the appropriateness of datatypes and adjusting as necessary.
2. Handling missing data
3. Considering and handling skewed data
4. Identifying and handling outliers
5. Identifying and handling collinearity among the variables

### Appropriate datatypes

Let us consider each variable in turn.  We can use the pandas value_counts() functionality to get a quick look at each variable, including a few observations, together with the datatype and the count of unique values.  We can hence observe for example:
- whether numbers or text have been assigned inappropriately;
- whether there is a limited number of distinct values (suggesting that the categorical datatype is an option);
- whether data involve times and dates (suggesting that the datetime datatype is an option).

In [4]:
for entry in list(df):
    print(df[entry].value_counts())

id
72323       1
38676116    1
38656203    1
38656154    1
38656128    1
           ..
38656004    1
38656023    1
38656052    1
38656063    1
38656067    1
Name: count, Length: 54231, dtype: int64
member_id
70694       1
41461848    1
41440010    1
41439961    1
41439934    1
           ..
41439809    1
41439828    1
41439857    1
41439868    1
41439872    1
Name: count, Length: 54231, dtype: int64
loan_amount
10000    3951
12000    3062
15000    2844
20000    2625
5000     2013
         ...
23425       1
31150       1
4775        1
725         1
950         1
Name: count, Length: 1083, dtype: int64
funded_amount
10000.0    3703
12000.0    2863
15000.0    2637
20000.0    2418
5000.0     1913
           ...
24350.0       1
1850.0        1
24150.0       1
4175.0        1
24750.0       1
Name: count, Length: 1122, dtype: int64
funded_amount_inv
10000.000000    2891
12000.000000    2135
15000.000000    1890
20000.000000    1631
5000.000000     1529
                ...
1369.990000        1
1321.100000        1
672.803839         1
502.690000         1
2002.440000        1
Name: count, Length: 5261, dtype: int64
term
36 months    35845
60 months    13614
Name: count, dtype: int64
int_rate
11.99    1848
10.99    1842
12.99    1609
15.61    1158
7.90     1045
         ...
17.46       1
19.39       1
17.59       1
17.91       1
15.38       1
Name: count, Length: 457, dtype: int64
instalment
332.10    179
327.34    154
336.90    149
498.15    119
392.81    109
         ...
38.88       1
226.98      1
167.02      1
114.44      1
135.01      1
Name: count, Length: 19940, dtype: int64
grade
B    16369
C    13600
A     9818
D     8157
E     4072
F     1694
G      521
Name: count, dtype: int64
sub_grade
B3    3641
B4    3542
B2    3241
C1    3018
B5    3016
C2    2962
B1    2929
C3    2794
A5    2789
A4    2645
C4    2512
C5    2314
D1    1838
D2    1809
A3    1752
D3    1647
D4    1509
A2    1481
D5    1354
A1    1151
E1     989
E2     985
E3     817
E4     658
E5     623
F1     486
F2     390
F3     326
F4     287
F5     205
G1     156
G2     133
G3      87
G4      74
G5      71
Name: count, dtype: int64
employment_length
10+ years    15907
2 years       5066
< 1 year      5034
3 years       4589
5 years       3836
1 year        3708
4 years       3482
6 years       3059
7 years       2964
8 years       2537
9 years       1931
Name: count, dtype: int64
home_ownership
MORTGAGE    26923
RENT        22493
OWN          4750
OTHER          63
NONE            2
Name: count, dtype: int64
annual_inc
60000.0     2134
50000.0     1777
65000.0     1398
40000.0     1354
75000.0     1346
            ...
200600.0       1
49853.0        1
15566.0        1
189500.0       1
64314.0        1
Name: count, Length: 6132, dtype: int64
verification_status
Verified           20782
Not Verified       17565
Source Verified    15884
Name: count, dtype: int64
issue_date
Dec-2019    7356
Nov-2019    7026
Oct-2019    6738
Sep-2019    6080
Jan-2021    4224
            ...
Aug-2013      35
Sep-2014      34
Sep-2013      25
Jul-2013      21
Jun-2013       2
Name: count, Length: 61, dtype: int64
loan_status
Fully Paid                                             27037
Current                                                19268
Charged Off                                             5571
Does not meet the credit policy. Status:Fully Paid       984
Late (31-120 days)                                       580
Does not meet the credit policy. Status:Charged Off      368
In Grace Period                                          265
Late (16-30 days)                                        106
Default                                                   52
Name: count, dtype: int64
payment_plan
n    54230
y        1
Name: count, dtype: int64
purpose
debt_consolidation    29593
credit_card           11133
other                  3697
home_improvement       3215
major_purchase         1679
small_business         1312
car                    1022
medical                 631
wedding                 539
moving                  456
house                   354
vacation                320
educational             201
renewable_energy         79
Name: count, dtype: int64
dti
0.00     111
18.00     58
13.20     50
12.00     50
14.40     49
        ...
35.46      1
38.15      1
30.97      1
0.47       1
0.09       1
Name: count, Length: 3611, dtype: int64
delinq_2yrs
0     45631
1      5956
2      1690
3       531
4       215
5        93
6        53
7        26
8        15
10        7
9         4
11        4
13        3
17        1
15        1
18        1
Name: count, dtype: int64
earliest_credit_line
Oct-1999    434
Oct-2000    420
Nov-1999    410
Nov-1998    408
Nov-2000    405
           ...
Dec-1960      1
May-1960      1
Nov-1962      1
Sep-1963      1
May-1963      1
Name: count, Length: 587, dtype: int64
inq_last_6mths
0     27110
1     14969
2      6917
3      3296
4      1035
5       458
6       213
7       101
8        65
9        19
10       11
11        9
15        6
12        6
13        4
16        3
18        2
17        1
24        1
33        1
31        1
32        1
19        1
14        1
Name: count, dtype: int64
mths_since_last_delinq
9.0      476
10.0     468
0.0      449
11.0     439
13.0     436
        ...
95.0       1
134.0      1
146.0      1
106.0      1
107.0      1
Name: count, Length: 100, dtype: int64
mths_since_last_record
0.0      634
98.0     168
97.0     158
96.0     156
113.0    125
        ...
10.0       5
3.0        5
1.0        2
4.0        1
2.0        1
Name: count, Length: 120, dtype: int64
open_accounts
9     5150
8     5077
10    4846
7     4738
11    4415
6     4080
12    3784
13    3202
5     2999
14    2649
15    2144
4     1927
16    1684
17    1385
3     1093
18    1082
19     843
20     638
21     499
2      415
22     406
23     270
24     241
25     185
26     115
27      80
28      57
29      40
1       33
30      31
31      30
32      17
33      16
34      15
39       8
35       8
41       5
43       4
38       4
36       4
42       3
37       3
40       1
48       1
51       1
53       1
46       1
47       1
Name: count, dtype: int64
total_accounts
20     1964
17     1955
18     1939
19     1929
22     1928
       ...
97        1
108       1
84        1
79        1
90        1
Name: count, Length: 88, dtype: int64
out_prncp
0.00        33962
6934.63        16
5547.70        15
7068.09        15
8321.68        13
            ...
28326.05        1
3650.70         1
17144.29        1
19367.47        1
9102.83         1
Name: count, Length: 17673, dtype: int64
out_prncp_inv
0.00        33962
6934.63        16
5547.70        15
7068.09        15
8321.68        12
            ...
5455.24         1
7325.11         1
16748.37        1
6343.89         1
4418.20         1
Name: count, Length: 17872, dtype: int64
total_payment
0.00       21
8302.50    13
8183.50    12
3994.35    11
7938.50    10
           ..
5724.82     1
5931.25     1
3915.37     1
5174.18     1
4885.11     1
Name: count, Length: 51698, dtype: int64
total_payment_inv
0.00        149
8302.50      13
8183.50      12
3994.35      11
15645.25     10
           ...
2032.29       1
2787.47       1
2489.01       1
232.84        1
104.60        1
Name: count, Length: 51561, dtype: int64
total_rec_prncp
10000.00    1913
12000.00    1449
15000.00    1264
5000.00     1154
20000.00    1014
            ...
4097.17        1
966.58         1
395.07         1
7537.97        1
1484.91        1
Name: count, Length: 25117, dtype: int64
total_rec_int
0.00       73
1745.58    12
1062.44    11
1593.98    11
557.22     10
           ..
593.44      1
593.54      1
911.92      1
804.64      1
751.34      1
Name: count, Length: 49331, dtype: int64
total_rec_late_fee
0.000000     52470
15.000000      251
30.000000       29
24.910000        4
32.730000        4
             ...
20.217640        1
44.966889        1
14.999008        1
44.869406        1
25.001836        1
Name: count, Length: 1439, dtype: int64
recoveries
0.00       50567
9.80           3
16.27          3
19.20          3
14.58          2
           ...
4329.46        1
816.63         1
2010.09        1
1286.86        1
1731.26        1
Name: count, Length: 3599, dtype: int64
collection_recovery_fee
0.0000       50788
1.4400           7
3.7100           6
3.2000           6
1.6900           6
             ...
384.1848         1
819.1314         1
631.4634         1
1103.7798        1
311.6268         1
Name: count, Length: 2944, dtype: int64
last_payment_date
Jan-2022    15569
Dec-2021     5040
Dec-2020     1023
Oct-2020     1020
Jul-2021     1013
            ...
Apr-2014       10
Mar-2014        8
Feb-2014        3
Jan-2014        3
Dec-2013        1
Name: count, Length: 98, dtype: int64
last_payment_amount
332.10     105
336.90      90
327.34      88
0.00        77
664.20      69
          ...
678.08       1
9939.88      1
92.19        1
193.55       1
126.29       1
Name: count, Length: 38235, dtype: int64
next_payment_date
Feb-2022    18136
Jan-2022     2139
Mar-2017       57
Apr-2017       47
Jan-2017       43
            ...
May-2014        1
Feb-2014        1
Jan-2014        1
Apr-2014        1
Mar-2014        1
Name: count, Length: 96, dtype: int64
last_credit_pull_date
Jan-2022    32136
Dec-2021     1458
Nov-2021      909
Oct-2021      875
Sep-2021      849
            ...
May-2014        1
Oct-2013        1
Nov-2013        1
Dec-2013        1
Jul-2013        1
Name: count, Length: 101, dtype: int64
collections_12_mths_ex_med
0.0    53971
1.0      193
2.0       14
3.0        1
4.0        1
Name: count, dtype: int64
mths_since_last_major_derog
41.0     155
45.0     146
42.0     134
44.0     133
46.0     128
        ...
134.0      1
90.0       1
119.0      1
99.0       1
115.0      1
Name: count, Length: 113, dtype: int64
policy_code
1    54231
Name: count, dtype: int64
application_type
INDIVIDUAL    54231
Name: count, dtype: int64

We see that in many cases there are no issues with a variable.  We describe below the exceptions to this rule, and discuss the appropriate actions (index numbers refer to the data info output above).

0   id
Data has been assigned as int64.  While these are numeric characters their purpose is only really to label the data.  We should cast to object to reflect this.

1   member_id
Same as issue as id.  We should cast to object.

5   term
Assigned as object datatype, but in fact only takes two values: 36 months or 60 months.  We could assign as a category.  We may also want to strip the text "months" in which case we could cast to numeric.  One advantage here is that we could impute the missing data using the mean.  This decision may need to be revisited when we have a better idea of what role this variable plays in our analysis.  Initially we will strip months, and cast to float.

8   grade
Assigned as object.  In fact, it shows which of 7 grades a loan is categorised by.  We will hence assign as a categorical datatype.
We also need to bear in mind that there is an ordinal relation between the categories and consider whether this will be useful.  One option might be to convert letters to numbers, thus allowing calculating of "average grades."  To be kept under consideration as the analysis proceeds.

9   subgrade
Same issues as grade, albeit with more categories.  
Again, we will cast to category and keep under review how to use the information stored in the "ordinal nature" of this variable.

10  employment_length
Describes employment length in blocks of years up to "10+".  We will convert to category.
We may want to strip years and treat as numerical variable and will note this possibility at this stage.

11  home_ownership
Assigned as object with 3 main populated categories, plus a few "Other" and "None".  We will cast to category and consider later whether to keep or handle Other/None.

13  verification_status
Assigned as object with 3 categories,   We will cast to category.

14  issue_date
Assigned as object but actually represents dates in month/year format.  It might be useful to cast to datetime.  As date objects minimally require day, month, year we will need to assign an arbitrary day value to these observations.  We will add "day 15" and cast to datetime datatype.

15  loan_status
We can cast to category

16  payment_plan
We could cast to category but with a 54230 - 1 split its doubtful that this data will be useful in the analysis anyway.  We will drop.

17  purpose
Assigned as object but actually divides into 14 "pure" categories.   We will cast to category.

20  earliest_credit_line
As issue date.  We will add "day 15" and cast to datetime datatype.

21  inq_last_6_months
Fits into 14 numeric categories.  We can leave as numeric.

35  last_payment_date
As issue date.  We will add "day 15" and cast to datetime datatype.

37  next_payment_date
As issue date.  We will add "day 15" and cast to datetime datatype.

38  last_credit_pull_date
As issue date.  We will add "day 15" and cast to datetime datatype.

41  policy_code
All coded as "1".  It informs us about how we've drawn the sample, but won't be of further use.  Drop.

42  application_type
All are "Individual".  It informs us about how we've drawn the sample, but won't be of further use.  Drop.

We use methods in our DataTransform class to perform these transformations.

First we cast the first two columns to object.

In [5]:
transformer = DataTransform(df)

#transformer.dataframe.info()

target_cols = ['id' , 'member_id']
for entry in target_cols:
    transformer.col_to_object(entry)

#transformer.dataframe.info()

Next we cast seven columns to category.

In [6]:
transformer.dataframe.info()

target_cols = ['grade', 'sub_grade', 'employment_length', 'home_ownership', 'verification_status', 'loan_status', 'purpose']
for entry in target_cols:
    transformer.col_to_category(entry)

transformer.dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  object
 1   member_id                    54231 non-null  object
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  object
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  object
 9   sub_grade                    54231 non-null  object
 10  employment_length            52113 non-null  object
 11  home_ownership               54231 non-null  object
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  object
 14  issue_date                   54231 non-null  object
 15  loan_status                  54231 non-null  object
 16  payment_plan                 54231 non-null  object
 17  purpose                      54231 non-null  object
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  object
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  float64
 23  mths_since_last_record       6181 non-null   float64
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  object
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  object
 38  last_credit_pull_date        54224 non-null  object
 39  collections_12_mths_ex_med   54180 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  int64
 42  application_type             54231 non-null  object
dtypes: float64(20), int64(6), object(17)
memory usage: 17.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  object
 1   member_id                    54231 non-null  object
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  object
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  category
 9   sub_grade                    54231 non-null  category
 10  employment_length            52113 non-null  category
 11  home_ownership               54231 non-null  category
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  category
 14  issue_date                   54231 non-null  object
 15  loan_status                  54231 non-null  category
 16  payment_plan                 54231 non-null  object
 17  purpose                      54231 non-null  category
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  object
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  float64
 23  mths_since_last_record       6181 non-null   float64
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  object
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  object
 38  last_credit_pull_date        54224 non-null  object
 39  collections_12_mths_ex_med   54180 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  int64
 42  application_type             54231 non-null  object
dtypes: category(7), float64(20), int64(6), object(10)
memory usage: 15.3+ MB

We address the column "term", by stripping the months part of the text, then casting to float

In [7]:
transformer.strip_months('term')
transformer.col_to_float('term')

transformer.dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  object
 1   member_id                    54231 non-null  object
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  float64
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  category
 9   sub_grade                    54231 non-null  category
 10  employment_length            52113 non-null  category
 11  home_ownership               54231 non-null  category
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  category
 14  issue_date                   54231 non-null  object
 15  loan_status                  54231 non-null  category
 16  payment_plan                 54231 non-null  object
 17  purpose                      54231 non-null  category
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  object
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  float64
 23  mths_since_last_record       6181 non-null   float64
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  object
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  object
 38  last_credit_pull_date        54224 non-null  object
 39  collections_12_mths_ex_med   54180 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  int64
 42  application_type             54231 non-null  object
dtypes: category(7), float64(21), int64(6), object(9)
memory usage: 15.3+ MB

We convert the columns to time, provided there are no null values.  

The following columns have nulls: 'last_payment_date', 'next_payment_date', 'last_credit_pull_date'
We'll consider handling these nulls later, and if they're dropped we will return to this point.

In [8]:
target_cols = ['issue_date', 'earliest_credit_line']
for entry in target_cols:
    transformer.add_day_15(entry)
    transformer.col_to_date(entry)

transformer.dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  object
 1   member_id                    54231 non-null  object
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  float64
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  category
 9   sub_grade                    54231 non-null  category
 10  employment_length            52113 non-null  category
 11  home_ownership               54231 non-null  category
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  category
 14  issue_date                   54231 non-null  datetime64[ns]
 15  loan_status                  54231 non-null  category
 16  payment_plan                 54231 non-null  object
 17  purpose                      54231 non-null  category
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  datetime64[ns]
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  float64
 23  mths_since_last_record       6181 non-null   float64
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  object
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  object
 38  last_credit_pull_date        54224 non-null  object
 39  collections_12_mths_ex_med   54180 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  int64
 42  application_type             54231 non-null  object
dtypes: category(7), datetime64[ns](2), float64(21), int64(6), object(7)
memory usage: 15.3+ MB

Finally, we drop the three columns identified.

In [9]:
target_cols = ['policy_code', 'application_type', 'payment_plan']
for entry in target_cols:
    transformer.drop_col(entry)

In [10]:
df = transformer.dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  object
 1   member_id                    54231 non-null  object
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  float64
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  category
 9   sub_grade                    54231 non-null  category
 10  employment_length            52113 non-null  category
 11  home_ownership               54231 non-null  category
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  category
 14  issue_date                   54231 non-null  datetime64[ns]
 15  loan_status                  54231 non-null  category
 16  purpose                      54231 non-null  category
 17  dti                          54231 non-null  float64
 18  delinq_2yrs                  54231 non-null  int64
 19  earliest_credit_line         54231 non-null  datetime64[ns]
 20  inq_last_6mths               54231 non-null  int64
 21  mths_since_last_delinq       23229 non-null  float64
 22  mths_since_last_record       6181 non-null   float64
 23  open_accounts                54231 non-null  int64
 24  total_accounts               54231 non-null  int64
 25  out_prncp                    54231 non-null  float64
 26  out_prncp_inv                54231 non-null  float64
 27  total_payment                54231 non-null  float64
 28  total_payment_inv            54231 non-null  float64
 29  total_rec_prncp              54231 non-null  float64
 30  total_rec_int                54231 non-null  float64
 31  total_rec_late_fee           54231 non-null  float64
 32  recoveries                   54231 non-null  float64
 33  collection_recovery_fee      54231 non-null  float64
 34  last_payment_date            54158 non-null  object
 35  last_payment_amount          54231 non-null  float64
 36  next_payment_date            21623 non-null  object
 37  last_credit_pull_date        54224 non-null  object
 38  collections_12_mths_ex_med   54180 non-null  float64
 39  mths_since_last_major_derog  7499 non-null   float64
dtypes: category(7), datetime64[ns](2), float64(21), int64(5), object(5)
memory usage: 14.0+ MB